table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

th.mat-header-cell {
  text-align: left;
}

.add-user {
  float: right;
}
.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 220px!important;
}
i.searchs{
  position: absolute;
  padding: 0px 0px 0px 0px;
}
.search {
  margin-bottom: 15px;
}
.btn-info {
  color: #fff;
  background-color: #084280;
  border-color: #084280;
  box-shadow: none;
  padding: 5px 11px 6px 10px !important;
  margin: 0px 6px 8px 0px;
}
.table-responsive {
  display: block!important;
}
th{
  padding: 4px 5px 5px 18px!important;
}