<!-- BEGIN # BOOTSNIP INFO -->
<div class="container">
  <div class="row">
      <div class="header">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <div class="col-md-8">
              <h3 class="adsc">
                  <i  class="fa m-1 fa-graduation-cap ng-star-inserted"></i> &nbsp;Training Materials</h3>
              </div>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn-info btn-lg pull-right" data-toggle="collapse"  data-toggle="modal" data-target="#login-modal2" (click)="send()">Create Topic</button>
            </div>
          </div>
         
        </div>
        <div class="col stglit">
    
            <div class="col-md-12">
              <div class="row">
                <div class="tabl" >
                    <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th style="text-align: left;">SL NO</th>
                                <th>Topic</th>
                                <th>Description</th>
                                <th>Open</th>         
                            </tr>
                        </thead>
                        <tbody>
                              <ng-container  *ngFor="let data of datas ;  let i = index">
                                      <tr>
                                          <td style="width: 8%;text-align: center">{{i+1}}</td> 
                                          <td>{{data.training_title}}</td>
                                          <td id="l1">{{data.training_description}}</td>
                                        <td style="text-align: center;width: 1%;"> <button class="accordion-toggle  btn mat-button-wrapper btn-sm" data-toggle="collapse"  data-toggle="modal"  (click)="open($event, data)"><i class="fa m-1 fa-folder-open ng-star-inserted"></i></button></td>
                                    </tr>
                                    </ng-container>      
                        </tbody>
                    </table>
                    <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                    <div class="card-footer p-0">
                    <ngb-pagination   [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                    </div>     
              </div>
              </div>
            </div>
            </div>
        
       
  </div>
</div>


<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialogs" style="max-width: 500px;">
  <div class="modal-content">
    
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
       
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                             
                           </div>
                            <form id="Login">
                                <div class="form-group">  
                                <label>Topic</label>
                                    <input type="text" class="form-control"  placeholder="Topic" [(ngModel)]="Title" value ="" name="title" #title />
                                </div>
                                <div class="form-group">  
                                  <label>Description</label>
                                  <textarea type="text" class="form-control" style="height:200px"  [(ngModel)]="Description"  placeholder="Description" value="" name="description" #description></textarea>
                                  </div>
                            </form>
                            </div>
                            <button class="btn btn-primary" data-dismiss="modal" style="color:#fff; background:#13477e!important;" (click)="assign(title.value,description.value)">Submit</button>
                        </div>
              </div>
            
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
              
                
                
            </div>
            <!-- End # DIV Form -->
            
  </div>
</div>
</div>
<!-- END # MODAL LOGIN -->



