             <div class="row col-md-12">
              <div class="col-md-6">
                  <div id="div-forms">
                      <!-- Begin # Login Form -->
                      <form id="login-form">
                      <div class="modal-body">
                          <div class="login-form">
                              <div class="main-div">
                                  <div class="panel">
                                      <h3>client Payment</h3>
                                 </div>
                                  <form id="Login">
                                        <table>
                                                <tr>
                                                  <th>Components</th>
                                                  <th>{{datass.employee_type}}</th>
                                                </tr>
                                                <tr>
                                                        <td>Basic</td>
                                                        <td>{{datass.basic}}</td>
                                                </tr>
                                                <tr>
                                                        <td>DA</td>
                                                        <td>{{datass.da}}</td>
                                                </tr>
                                                <tr>
                                                        <td>HRA</td>
                                                        <td>{{datass.additional_hours}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Others</td>
                                                        <td>{{datass.others}}</td>
                                                </tr>
                                                <tr>
                                                        <td><B>Sub Total A</B></td>
                                                        <td>{{datass.subtotala}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Leave 6%</td>
                                                        <td>{{datass.leave}}</td>
                                                </tr> 
                                                <tr>
                                                        <td><b>Sub Total B</b></td>
                                                        <td>{{datass.subtotalb}}</td>
                                                </tr>
                                                <tr>
                                                        <td>PF + Admin. Charges @ 13.3</td>
                                                        <td>{{datass.pf}}</td>
                                                </tr>
                                                <tr>
                                                        <td>ESI @ 4.5%</td>
                                                        <td>{{datass.esi}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Gratutity @ 4.81%</td>
                                                        <td>{{datass.gratuity}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Bonus @ 8.33%</td>
                                                        <td>{{datass.bouns}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Sub Total C</b></td>
                                                        <td>{{datass.subtotalc}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Total</b></td>
                                                        <td>{{datass.total}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Weekly off</td>
                                                        <td>{{datass.weekly_off}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Agency Charges @ 10%</td>
                                                        <td>{{datass.agency_charges}}</td>
                                                </tr>
                                                <tr>
                                                        <td> <b>Sub Total</b> </td>
                                                        <td>{{datass.subtotal}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Rounded Off</b></td>
                                                        <td>{{datass.rounded_off}}</td>
                                                </tr>
                                              </table>
                                  </form>
                                  </div>
                              </div>
                    </div>
                  
                      </form>
                      <!-- End # Login Form -->
                      
                      <!-- Begin | Lost Password Form -->
                    
                      
                      
                  </div>

              </div>
              <div class="col-md-6">

                  <div id="div-forms">
              
                      <!-- Begin # Login Form -->
                      <form id="login-form">
                      <div class="modal-body">
                
                          <div class="login-form">
                              <div class="main-div">
                                  <div class="panel">
                                      <h3>Employee Payment</h3>
    
                                 </div>
                                  <form id="Login">
                                        <table>
                                                <tr>
                                                  <th>Components</th>
                                                  <th>{{datass.employee_type}}</th>
                                                </tr>
                                                <tr>
                                                        <td>Basic</td>
                                                        <td>{{datass.ebasic}}</td>
                                                </tr>
                                                <tr>
                                                        <td>DA</td>
                                                        <td>{{datass.eda}}</td>
                                                </tr>
                                                <tr>
                                                        <td>HRA</td>
                                                        <td>{{datass.eadditional_hours}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Others</td>
                                                        <td>{{datass.eothers}}</td>
                                                </tr>
                                                <tr>
                                                        <td><B>Sub Total A</B></td>
                                                        <td>{{datass.esubtotala}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Leave 6%</td>
                                                        <td>{{datass.eleave}}</td>
                                                </tr> 
                                                <tr>
                                                        <td><b>Sub Total B</b></td>
                                                        <td>{{datass.esubtotalb}}</td>
                                                </tr>
                                                <tr>
                                                        <td>PF + Admin. Charges @ 13.3</td>
                                                        <td>{{datass.epf}}</td>
                                                </tr>
                                                <tr>
                                                        <td>ESI @ 4.5%</td>
                                                        <td>{{datass.eesi}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Gratutity @ 4.81%</td>
                                                        <td>{{datass.egratuity}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Bonus @ 8.33%</td>
                                                        <td>{{datass.ebouns}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Sub Total C</b></td>
                                                        <td>{{datass.esubtotalc}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Total</b></td>
                                                        <td>{{datass.etotal}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Weekly off</td>
                                                        <td>{{datass.eweekly_off}}</td>
                                                </tr>
                                                <tr>
                                                        <td>Agency Charges @ 10%</td>
                                                        <td>{{datass.eagency_charges}}</td>
                                                </tr>
                                                <tr>
                                                        <td> <b>Sub Total</b> </td>
                                                        <td>{{datass.esubtotal}}</td>
                                                </tr>
                                                <tr>
                                                        <td><b>Rounded Off</b></td>
                                                        <td>{{datass.erounded_off}}</td>
                                                </tr>
                                              </table>
                                  </form>
                                  </div>
                              </div>
                    </div>
                  
                      </form>
                      <!-- End # Login Form -->
                      
                      <!-- Begin | Lost Password Form -->
                    
                      
                      
                  </div>
                
                </div>
     
   


             </div>
             <!-- Begin # DIV Form -->
              



             