<div class="row">
  <div class="col-12 col-sm-6">
<div class="Emp" style="background: #ffffff; margin-left: -17px;
margin-right: -17px; widtd: 100% ; height: 100%; border: 1px solid #aaa;
border-radius: 4px;
padding: .5em .5em 0;">
<label class="comtitle">Complaint Open Status</label>
<table style="widtd:100%">
  <tr>
    <td>Complaint ID</td>
    <td>: {{datas0.complaint_id}}</td>
  </tr>
   <tr>
    <td>Complaint From</td>
    <td>: {{datas0.complaint_from}}</td>
  </tr>
   <tr>
    <td>Posted By</td>
    <td>: {{datas0.poster_id}}</td>
  </tr>
      <tr>
    <td>Complaint Type</td>
    <td>: {{datas0.complaint_type}}</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>: {{datas0.title}}</td>
  </tr>
   <tr>
    <td>Description</td>
    <td>: {{datas0.description}}</td>
  </tr>
   <tr>
    <td>Posted On</td>
    <td>: {{datas0.posted_on}}</td>
  </tr>
  <tr>
    <td>Status</td>
    <td>: {{datas0.status}}</td>
  </tr>
  <tr>
  </tr>      
  <tr>
    <th> <img src="{{datas0.photo1}}"  style="height:130px; width:130px"> <img src="{{datas0.photo2}}"  style="height:130px; width:130px"> </th>
    <td> <img src="{{datas0.photo3}}"  style="height:130px; width:130px"> <img src="{{datas0.photo4}}"  style="height:130px; width:130px"> </td>
  </tr>         
</table> 
</div>
</div>
<div class="col-12 col-sm-6">
  <div class="Emp" style="background: #ffffff; margin-left: -17px;
  margin-right: -17px; widtd: 100% ; height: 100%; border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;">
    <label class="comtitle">Complaint Moved Status</label>
    <table style="widtd:100%">
      <tr>
        <td>Complaint ID</td>
        <td>: {{datas1.complaint_id}}</td>
      </tr>
       <tr>
        <td>Complaint From</td>
        <td>: {{datas1.complaint_from}}</td>
      </tr>
       <tr>
        <td>Posted By</td>
        <td>: {{datas1.poster_id}}</td>
      </tr>
          <tr>
        <td>Complaint Type</td>
        <td>: {{datas1.complaint_type}}</td>
      </tr>
      <tr>
        <td>Title</td>
        <td>: {{datas1.title}}</td>
      </tr>
       <tr>
        <td>Description</td>
        <td>: {{datas1.description}}</td>
      </tr>
       <tr>
        <td>Posted On</td>
        <td>: {{datas1.posted_on}}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>: {{datas1.status}}</td>
      </tr>
      <tr>
          <td>Moved By</td>
          <td>: {{datas1.moved_by}}</td>
        </tr>
        <tr>
          <td>Moved To</td>
          <td>: {{datas1.moved_to}}</td>
        </tr>
        <tr>
          <td>Last Update</td>
          <td>: {{datas1.updated_at}}</td>
        </tr>
      <tr>
      </tr>      
      <tr>
        <th> <img src="{{datas1.photo1}}"  style="height:130px; width:130px"> <img src="{{datas1.photo2}}"  style="height:130px; width:130px"> </th>
        <td> <img src="{{datas1.photo3}}"  style="height:130px; width:130px"> <img src="{{datas1.photo4}}"  style="height:130px; width:130px"> </td>
      </tr>       
</table> 
  </div>
  </div>

      <div class="col-12 col-sm-6">
          <div class="Emp" style="background: #ffffff; margin-left: -17px;
          margin-right: -17px; widtd: 100% ; height: 100%; border: 1px solid #aaa;
            border-radius: 4px;
            padding: .5em .5em 0;">
            <label class="comtitle">Complaint Report</label>
            <table style="widtd:100%">
              <tr>
                <td>Complaint ID</td>
                <td>: {{datas2.complaint_id}}</td>
              </tr>
               <tr>
                <td>Work Done By </td>
                <td>: {{datas2.taken_by}}</td>
              </tr>
              <tr>
                <td>Title</td>
                <td>: {{datas2.title}}</td>
              </tr>
               <tr>
                <td>Description</td>
                <td>: {{datas2.description}}</td>
              </tr>
               <tr>
                <td>Posted On</td>
                <td>: {{datas2.updated_at}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>: {{datas2.status}}</td>
              </tr>
              <tr>
                  <td>Last Update</td>
                  <td>: {{datas2.updated_at}}</td>
                </tr>
              <tr>
              </tr>      
              <tr>
                <th> <img src="{{datas2.photo1}}"  style="height:130px; width:130px"> </th>
              </tr>       
      </table> 
          </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="Emp" style="background: #ffffff; margin-left: -17px;
            margin-right: -17px; widtd: 100% ; height: 100%; border: 1px solid #aaa;
              border-radius: 4px;
              padding: .5em .5em 0;">
              <label class="comtitle">Closed Report</label>
              <table style="widtd:100%">
                <tr>
                  <td>Complaint ID</td>
                  <td>: {{datas3.complaint_id}}</td>
                </tr>
                 <tr>
                  <td>Work Done By </td>
                  <td>: {{datas3.moved_by}}</td>
                </tr>
                 <tr>
                  <td>Posted On</td>
                  <td>: {{datas3.updated_at}}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>: {{datas3.status}}</td>
                </tr>
                <tr>
                    <td>Last Update</td>
                    <td>: {{datas3.updated_at}}</td>
                  </tr>
                <tr>
                </tr>      
                <tr>
                </tr>       
             </table> 
            </div>
            </div>
                </div> 
        
    