<!-- BEGIN # BOOTSNIP INFO -->
<div class="container">
  <div class="row">
      <div class="header">
        <div class="row">
          <div class="col-12 col-md-6 mb-3">
            <div class="col-md-8">
              <h3 class="adsc">
                    <i  class="material-icons  ng-star-inserted">live_help</i> &nbsp;FAQ List</h3>
              </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-info btn-lg pull-right" style="color: #fff;" data-toggle="collapse"  data-toggle="modal" data-target="#login-modal1" >Add FAQ</button>
            </div>
          </div>
         
        </div>
        <div class="col stglit">
    
            <div class="col-md-12">
              <div class="row">
                <div class="tabl" >
                    <table class="table table-bordered table-responsive" style="border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th>SL.NO</th>
                             
                                <th>Questions</th>
                                <th>Answers</th>
                                <th>Date</th>
                                <th>View</th> 
                                <th>Update</th>      
                                <th>Delete</th>    
                            </tr>
                        </thead>
                        <tbody>
                              <ng-container  *ngFor="let data of datas ;  let i = index">
                                      <tr>
                                          <td style="text-align: center">{{i+1}}</td> 
                                        
                                          <td>{{data.questions}}</td>
                                          <td id="l1">{{data.answers}}</td>
                                          <td id="l1">{{data.date}}</td>
                                        <td style="text-align: center"><button class="accordion-toggle  btn mat-button-wrapper btn-sm" style="background: transparent;" data-toggle="collapse"  data-toggle="modal"  data-toggle="modal" data-target="#login-modal3" (click)="view($event, data)"><i  class="m-1 icon-screen-desktop"></i></button></td>
                                        <td style="text-align: center"><button type="button" data-toggle="modal"  data-uid="1" class=" btn  btn-sm" style="background: transparent;"><i  class="m-1 icon-note" data-toggle="modal" data-target="#login-modal2" (click)="edit($event,data)"></i></button></td> 
                                        <td style="text-align: center"><button type="button" data-toggle="modal" data-target="#delete" data-uid="1" class=" btn  btn-sm" style="background: transparent;"><i  class="m-1 icon-close" (click)="delete($event,data)"></i></button></td>
                                    </tr>
                                    </ng-container>      
                        </tbody>
                    </table>
                    <div *ngIf="loading" ><div class="loader text-center"></div></div>     
                    <div class="card-footer p-0">
                    <ngb-pagination   [collectionSize]="collsize" [(page)]="advancedPage" (pageChange)="newsync()" [boundaryLinks]="true" ></ngb-pagination>
                    </div>     
              </div>
              </div>
            </div>
            </div>
        
       
  </div>
</div>


<!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialogs" style="max-width: 500px;">
  <div class="modal-content">
    
          <button type="button" class="close" data-dismiss="modal">&times;</button>
         
       
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                             
                           </div>
                            <form id="Login">
                                <div class="form-group">  
                                <label>Questions</label>
                                    <input type="text" class="form-control" id="name" placeholder="Questions" value ="" name="" #quest >
                                </div>
                                <div class="form-group">  
                                  <label>Answers</label>
                                  <textarea type="text" style="height:200px" class="form-control" id="" placeholder="Answers" value="" name="" #ans></textarea>
                                  </div>
                            </form>
                            </div>
                            <button class="btn btn-primary" data-dismiss="modal" style="color:#fff; background:#13477e!important;" (click)="assign(quest.value,ans.value)">Submit</button>
                        </div>
              </div>
            
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
              
                
                
            </div>
            <!-- End # DIV Form -->
            
  </div>
</div>
</div>
<!-- END # MODAL LOGIN -->


  <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialogs " style="max-width: 700px;">
  <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
   
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                               
                           </div>
                            <form id="Login">
                        
  
                                <div class="form-group">
                        
                                <label>Question</label>
                                    <input type="text" class="form-control" id="name" value="{{datass.questions}}" #questions >
                        
                                </div>
  
                                <div class="form-group">
                        
                                    <label>Answer</label>
                                    <textarea class="form-control" style="height:200px" id="name" value="{{datass.answers}}" #answers ></textarea>
                        
                                </div>
                            </form>
                            </div>
                            <button class="btn btn-primary" data-dismiss="modal" style="color:#fff; background:#13477e!important;" (click) = "update(questions.value,answers.value)">Submit</button>
                        </div>
              </div>
            
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
              
                
                
            </div>
            <!-- End # DIV Form -->
            
  </div>
  </div>
  </div>
  <!-- END # MODAL LOGIN -->

  <!-- BEGIN # MODAL LOGIN -->
<div class="modal fade" id="login-modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialogs" style="max-width: 700px;">
  <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
                <div class="modal-body">
          
                    <div class="login-form">
                        <div class="main-div">
                            <div class="panel">
                               
                           </div>
                            <form id="Login">
                                <div class="form-group">
                                <label>Question</label>
                                    <input type="text" class="form-control" id="name" value="{{datass.questions}}" disabled>
                                </div>
                                <div class="form-group">
                                    <label>Answer</label>
                                    <textarea class="form-control" style="height:200px" id="name" value="{{datass.answers}}" disabled ></textarea>
                        
                                </div>
                            </form>
                            </div>
                        </div>
              </div>
                </form>
                <!-- End # Login Form -->
                <!-- Begin | Lost Password Form -->
            </div>
            <!-- End # DIV Form -->           
  </div>
  </div>
  </div>
  <!-- END # MODAL LOGIN -->


