<div  class="row">
  <div  class="header">
    <h3  class="adsc">
        <i class="material-icons ng-star-inserted">business</i> &nbsp;Add New Unit Master Salary Details</h3>
    </div>
  </div>
  <div class="" style="padding-bottom: 30px;"><Br>
    <!-- <div *ngIf="deleteLoading" id="snackbar" class="show"> {{loadingmsg}}</div> -->
    <div class="headers">
        <div class="">
          <div class="row">
            <input type="file" (change)="onfileselected($event)">
            <button class="btn-info btn-lg " (click)="attach()">Upload</button>
        </div>
      </div>
    </div>
  </div>