.clntr {
    color: #fff;
    background-color: #084280;
    border-color: #084280!important;
    box-shadow: none;
    padding: 0px 9px 0px 9px !important;
    margin: 0px 0px 0px 16px!important;
}
.table-responsive {
    display: block!important;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.btn-info {
    color: #fff;
    background-color: #084280;
    border-color: #084280;
    box-shadow: none;
    padding: 5px 11px 6px 10px !important;
    margin: 0px 6px 8px 0px;
  }