.multistep-form-section{
    background: #fff;
    width: 100%;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 10px;
}
label {
    font-size: 14px;
    color: #222;
    text-align: right;
    font-weight: 400;
    padding-top: 12px;
    word-break: break-all;
    float: right!important;
}