table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    color: black;
}

td,
th {
    border: 1px solid #000000;
    text-align: left;
    padding: 7px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.header-img img {
    margin-top: -20px;
}