.btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}
.frms{
  padding: 10px;
  margin-top: 20px;
}
.input1 {
    background-color: #084280!important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}
span{
    font-size: 12px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.frms{
  padding: 10px;
  margin-top: 20px;
}
.input1 {
    background-color: #084280!important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}
.frms{
  padding: 10px;
  margin-top: 20px;
}
.input1 {
    background-color: #084280!important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 25px;
  }
  .h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 10px;
}
.multistep-form-section{
    background: #fff;
    width: 100%;
}

  label {
    font-size: 14px;
    color: #222;
    text-align: right;
    float: right;
    font-weight: 400;
    padding-top: 4px;
    word-break: break-all;
}
.justify-content-md-center {
    justify-content: center !important;
    padding-bottom: 1%;
    padding-top: 4%;
}
.form-group {
    margin-bottom: 1px;
}
.input1 {
    background-color: #084280 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
}
.input1 {
    background-color: #084280 !important;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 100px;
  }
  .btn-info{
    color: #fff;
    background-color: #084280;
    border-color: #084280;
    box-shadow: none;
    padding: 5px 11px 6px 10px !important;
    margin: 0px 6px 8px 0px;
}