<div class="header">
  <h3 class="adsc pull-left">Employee Details</h3>
  <button  class="btn-info btn-lg pull-right " (click)="printComponent('component1')">Print</button>

</div>


<div class="container" id="component1">


<table>
  <tr>
    <td>Employee ID</td>
    <td>{{adduser.Empid}}</td>
  </tr>
  <tr>
    <td>Employee Name</td>
    <td>{{adduser.Name}}</td>  </tr>
  <tr>
    <td>Employee Address</td>
    <td>{{adduser.Address}}</td>  </tr>
  <tr>
    <td>Employee Number</td>
    <td>{{adduser.Mobile_No}}</td>  </tr>
  <tr>
    <td>Employee Email ID</td>
    <td>{{adduser.Email_ID}}</td>  </tr>
</table>

<br>
<br>

<form>
        <!-- service-form -->
        <div class="service-forms">
            <div class="row">                                           
                                                               <div class="col-md-12">
                                                                  <div class="row">
                                                                    <h3>List of deliverables</h3>
                                                                  </div>
                                                                </div>
      
                                                                <br>
      
                                                              <div class="col-md-12">
                                                                <div class="row">

        
                                                                    <div class="tabl" >
                                                                        <table class="table table-bordered table-responsive " style="border-collapse:collapse;">
                                                                      <thead>
                                                                          <tr>
                                                                              <th>SL.NO</th>
                                                                              <th>Item</th>
                                                                              <th>A/U</th>
                                                                              <th>Rate</th>
                                                                              <th>Remarks</th>
                                                                              <th>Status</th>
                                                                        </tr>
                                                                      </thead>
                                                                      <tbody>
                                                                                  <ng-container  *ngFor="let data of data1 ;  let i = index">
              
                                                                                  <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                                                                      <td>{{i + 1}}</td> 
                                                                                      <td>{{data.item}}</td>
                                                                                      <td id="l1">{{data.au}}</td>
                                                                                      <td id="a1">{{data.rate}}</td>
                                                                                      <td id="a1">{{data.remarks}}</td>
                                                                                      <td id="a1"><button class="btn-info btn-lg" (click)="update2(data)" *ngIf="data.status === 'not_received'">Deliver</button><button (click)="update1(data)" *ngIf="data.status === 'received'" disabled>Delivered</button></td>
                                                                                  </tr>
                                                                                  </ng-container>
                                                                      </tbody>
                                                                  </table>
                                                                   
                                                            </div>
                                                                </div>
                                                              </div>       
                                                              <br>    
                  
                  
              </div>
      
        </div>
      </form>
<br>
<br>
<form>
    <!-- service-form -->
    <div class="service-forms">
        <div class="row">                                           
                                                           <div class="col-md-12">
                                                              <div class="row">
                                                                <h3>List of delivered</h3>
                                                              </div>
                                                            </div>
  
                                                            <br>
  
                                                          <div class="col-md-12">
                                                            <div class="row">

    
                                                                <div class="tabl" >
                                                                    <table class="table table-bordered table-responsive " style="border-collapse:collapse;">
                                                                  <thead>
                                                                      <tr>
                                                                          <th>SL.NO</th>
                                                                          <th>Item</th>
                                                                          <th>A/U</th>
                                                                          <th>Rate</th>
                                                                          <th>Remarks</th>
                                                                          <th>Status</th>
                                                                    </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                              <ng-container  *ngFor="let data of data2 ;  let i = index">
          
                                                                              <tr colspan="6" data-toggle="collapse" [attr.data-target]="10"  class="accordion-toggle">
                                                                                  <td>{{i + 1}}</td> 
                                                                                  <td>{{data.item}}</td>
                                                                                  <td id="l1">{{data.au}}</td>
                                                                                  <td id="a1">{{data.rate}}</td>
                                                                                  <td id="a1">{{data.remarks}}</td>
                                                                                  <td>Delivered</td>
                                                                                </tr>
                                                                              </ng-container>
                                                                  </tbody>
                                                              </table>
                                                               
                                                        </div>
                                                            </div>
                                                          </div>       
                                                          <br>    
              
              
          </div>
  
    </div>
  </form>


    </div>