// .header-name h3 {
//     color: #0a2b4d;
//     font-weight: 600;
//     font-size: 21px;
// }
// .sub-header p {
//     text-align: center;
//     color: #0a2b4d;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: .5;
// }
table {
    // border-collapse: inherit!important;
}

table tr th,
table tr td {
    padding: 6px;
    color: #000;
    border: none;
}

// tr {
//     border: none;
// }
// .app-header {
//     // width: 80%;
//     // margin-left: 10%;
// }
// .d-flex {
//     margin-top: 1%;
//     display: flex;
// }
// .d-flex div {
//     width: 33%;
//     font-size: 20px;
//     color: #0a2b4d;
//     font-weight: 600;
// }
// .container {
//     border: 1px solid #ccc;
// }
// .bio-data h4 {
//     color: #0a2b4d;
//     font-size: 27px;
//     font-weight: 600;
// }
// .head-address p {
//     font-size: 21px;
//     font-weight: 500;
//     color: #34495e;
//     line-height: .5;
// }
table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

th.mat-header-cell {
    text-align: left;
    max-width: 300px !important;
}

.add-user {
    float: right;
}

// .btn-info {
//     color: #fff;
//     background-color: #084280;
//     border-color: #084280;
//     box-shadow: none;
//     padding: 5px 11px 6px 10px !important;
//     margin: 0px 6px 8px 0px;
// }
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 220px !important;
}

i.searchs {
    position: absolute;
    padding: 0px 0px 0px 0px;
}

.search {
    margin-bottom: 15px;
}

.table-responsive {
    display: block !important;
}

.bank tr td {
    padding: 7px;
}

.earning tr td {
    padding: 13px;
}

.pay tr td {
    padding: 19px;
}

.pay tr th {
    padding: 19px;
}